.Wishlist-body{
    background-color: white;
    padding-top: 0px;
    color: black;
    padding-bottom: 50px;
    width: 100%;
}
.wishlist-title{
padding-left: 5rem;
}
.wishlist-title h3{
    font-size: 14px;
    cursor: pointer;
}
.wishlist-title h2{
    padding-top: 0px;
    margin-top: 0px;
    font-size: 35px;
}
.close{
    width: auto;
    height: 1rem;
}
.prod-image{
    width: auto;
    height: 60px;
    border-radius: 10px;
}
table{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 30px 0px 20px 0px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black;
}
thead>tr{
    display: flex;
}
td{
    display: flex;
    gap: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 100px;
    font-size: 17px;
    font-weight: 500;
}
th{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
}
tr{
    display: flex;
    align-items: center;
    justify-content: center;
}
td p{
    width: 200px;
}
.prodDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-left: 5px;
}

.wishlist-banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.bannerimg{
    width: 90%;
    border-radius: 20px;
}
button{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: black 1px 1px 1px 1px;
}


@media (max-width:660px){
    .Wishlist-body{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    table{
        flex-direction: column;
        width: 80%;
        margin: 0px;
    }

    thead{
        display: none;
        flex-direction: row;
    }
    tbody{
        display: flex;
        flex-direction: column;
        gap:5rem;
        align-items: center;
        justify-content: center
    }
    td{
        gap: 0px;
        flex-direction: row;
        width: max-content;
        gap: 1em;
    }
    tr{
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;

    }
    .prodDetails{
        width: 100%;
    }
}