.navBody{
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(169, 167, 167, 0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;    width: 100%;
    color: white;
}
.navTop{
    display: flex;
    justify-content: space-between;
}
.navTopSec1 img{
    width: auto;
    height: 100px;
    margin-left: 30px;
}
.navTopSec2{
    display: flex;
    gap: 50px;
}
.navTopContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    margin-top: 30px;
}
.navTopContent h3{
    font-size: 20px;
    font-weight: 700;
}
.navTopContent p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
    color: whitesmoke;
}


@media screen and (max-width:600px) {
    .navTopSec1 img{
        width: auto;
        height: 50px;
        margin-left: 10px;
    }
    .navTop{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .navTopSec2{
        display: flex;
        gap: 50px;
        margin-left: 10px;
    }
    .navTopContent{
        padding: 0px;
    }
    .navTopContent h3{
        font-size: 16px;
        font-weight: 700;
    }
}